<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>contact_us</title>
</head>
<style>
body
{
 background-image: url(.jpg);

}
body
{
 background-image: url(picture.jpg);
}
h1
{
 text-align: center;
}
h2
{
  text-align: center;
}
h3
{
  text-align: center;
}
h4
{
  text-align: center;
}

</style>
<body>
<h1>
==============================
</h1>
<h1>
         CONTACT US HERE
</h1>
<h1>
==============================
</h1>
<H2>
  Call , App or Text us on
</H2>
<h3>
call: +263779180087/+263775623526/+263775373037
</h3>
<h3>
text: +263779180087/+263775623526/+263775373037
</h3>
<h3>
app: +263779180087/+263775623526/+263775373037
</h3>
<h3>
email: tawandabundukutu@gmail.com
</h3>
<br></br>
<h4>
facebook: Tawanda Bundukutu
</h4>
</body>
</html>